body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.display {
  background: linear-gradient(to left, rgb(252, 55, 55) 50%, transparent 50%);
  border-radius: 10px 0px 10px 0px;
  color: #fffefe;
}


nav {
  display: flex; 
  cursor: pointer;
  justify-content: flex-end;
  
}

h3 {
  margin: 0; 
  padding: 8px; 
}
